nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  
}
nav {
    background-color: black;
}
nav li {
    font-size: 30px;
	color: white;
}
.resize {
    width: 100px;
    height: auto;
}
a {
	color: #D7F9F1;
	text-decoration: none;
}
a:visited {
	color: #618B4A;
}
a:hover {
	color: #7AA095; 
}
a:active {
   color: #326d66;
}
body {
}
h1 {
	text-align: center;
	font-size: 30px;
	color: #7AA095;
}
h2 {
	font-size: 28px;
	color: #618B4A;
}
.episodelist {
   border-left: 5px solid #AFBC88;
   font-size: 25px;
}
p {
	text-indent: 30px;
    border-left: 5px solid #AFBC88;
	font-size: 25px;
}