@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  
}
nav {
    background-color: black;
}
nav li {
    font-size: 30px;
	color: white;
}
.resize {
    width: 100px;
    height: auto;
}
.resize2 {
    width: 300px;
    height: auto;
}
.resize3 {

    width: 600px;
    height: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
a {
	color: #D7F9F1;
	text-decoration: none;
}
a:visited {
	color: #618B4A;
}
a:hover {
	color: #7AA095; 
}
a:active {
   color: #326d66;
}
p {
 font-family: 'Mukta', sans-serif;
}
h1 {
	text-align: center;
	font-size: 30px;
	color: #7AA095;
}
h2 {
	font-size: 28px;
	color: #618B4A;
}
.episodelist {

   border-left: 5px solid #AFBC88;
   font-size: 20px;

}
.castlist {
    display: flex;
    max-height: 150px;
    border-left: 5px solid #AFBC88;
    font-size: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}
.castlist img {
	margin: 10px;
}
p {
	text-indent: 30px;
    border-left: 5px solid #AFBC88;
	font-size: 25px;
}
img:hover {
    webkit-filter: blur(4px); 
    filter: blur(4px);
}
.castp {
	font-size: 20px;
	text-align: center;
}
